<div class="row">
  <div class = "col-md-12" id="loadSection">
    <div class="table-responsive">
      <!-- <button type="button" class="btn btn-md main-color-bg" data-toggle="modal" data-target="#addItem">
        <span class="glyphicon glyphicon-plus-sign"> Add
      </button> -->
      <br><br>
      <table class="table table-bordered" id="item_table">
        <thead>
          <tr>
            <td width="20%">Name</td>
            <td width="40%">Description</td>
            <td width="10%">Price (Rs)</td>
            <td width="10%">Image</td>
            <td width="10%"></td>
            <td width="10%"></td>
          </tr>
        </thead>
        <tbody>
        
        </tbody>
      </table>
    </div>
  </div>
</div>